 :root {
     --blue: #040854;
     --grey: #9f9b9b;
     --aqua: #06c5c5
 }
 * {
     margin: 0;
     padding: 0;
 }
 .wrapper {
     margin: 0 auto;
     padding: 0 50px;
     max-width: 1200px;
 }
 .social_head {
     height: 35px;
     display: flex;
     align-items: center;
     justify-content: flex-end;
     column-gap: 5px;
 }
 .social__head_greed {
     background-color: var(--aqua) ;
 }
 .social_items {
     width: 30px;
     height: 10px;
     background-color: var(--blue);

}
 .header__top {
     background: var(--grey);
     padding: 10px 0 15px;
 }
 .header__top_greed {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 .header__logo {
     background: var(--blue);
     width: 70px;
     height: 25px;
     border-radius: 10px;
 }
.nav__item {
    display: inline-block;
    margin-left: 10px;

}
.nav__item a {
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    transition: color .5s;
    color: var(--blue);
}
.nav__item a:hover {
    color: #57da78;
}
.TextHeader__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    padding: 50px 0 ;
}
.text {
    width: 70%;
    text-align: center;
}
 .TextHeader__top button{
     width: 300px;
     margin-top: 25px;
     border-radius: 20px;
     color: var(--aqua);
     background-color: var(--blue);
     height: 30px;
     cursor: pointer;
 }
 .main{
     background-color: var(--grey);
     padding: 20px 60px 20px;
 }
 .contain{
     display: flex;
     flex-direction: column;
     row-gap: 20px;
     padding: 40px 40px;
 }
 .contetn_title{
     display: flex;
     column-gap: 25px;
     justify-content: center;
     align-items: center;

 }
 .left_text {
     background-color: var(--blue);
     height: 20px;
     width: 60px;
     border-radius: 30px;
 }
 .right_text{
     background-color: var(--blue);
     height: 20px;
     width: 150px;
     border-radius: 40px;

 }
 .contain__main{
     display: flex;
     column-gap: 50px;
 }

 .content__img{
     height: 150px;
     background-color: var(--blue);
     border-radius: 20px;
     flex-grow: 1;
 }
 .border{
     border: 5px solid black;
     padding: 50px;
 }
.contein_item p{
    text-align: center;
    margin-top: 20px;
}
.contain__greed{
    border: 5px solid var(--aqua);
    border-radius: 20px;
}
.about{background-color: var(--blue);
padding: 50px 0;
}
.about__greed{
    display: flex;
    justify-content: space-between;
}
.about__card{
    width: 30%;
    border: 2px solid transparent;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    color: lemonchiffon;
    transition: all 1s;
    padding: 10px 0;
}
.about__photo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--grey);
}
.about__card:hover{
    border-color: var(--aqua);
}
.about__name{
    font-size: 30px;
    font-weight: 500;
}
.info{
    background-color: var(--grey);
}
.info__greed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 25px;
}
.info__titile{
    background-color: var(--blue);
    width: 30%;
    padding: 15px 0;
    border-radius: 20px;
    margin-top: 25px;
}
.info__titile p{
    text-align: center;
    color: lemonchiffon;
}
.info__card_rise{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info__card_contain {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--aqua);
    border-radius: 10%;
    padding-top: 10px;
}
.info__img{
    height: 150px;
    width: 150px;
    background-color: var(--blue);
    border-radius: 20px;
}
.info__card_contain p{
    color: lemonchiffon;
    text-align: left;
    margin: 20px 0;
}
.info__button{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-top: 2px solid var(--aqua);
}
.button_left{
    height: 15px;
    width: 50px;
    background-color: var(--blue);
    border-radius: 20px;
    margin: 5px 15px;
}
.button1{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--blue);
}
.button_right{
    display: flex;
    column-gap: 5px;
    justify-content: center;
    margin: 5px 15px;
}
.info__card{
    display: flex;
    flex-direction: column;
    row-gap: 25px;

}