@media screen and (max-width: 320px) {

.wrapper{
    margin-left: 15px;
}
.head_menu{
    display: none;
}
.head_info img{
display: none;
}
.inf1{
    display: none;
}
.work_time{
    display: none;
}
.location{
    display: none;
}
.logo{
    margin-right: 30px;
}
.logo img{
    width: 36px;
    height: 40px;
}
.about_info{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    row-gap: 14px;
}
.logo_text h1{
   font-size: 7px;
}
    .logo_text p{
        font-size: 6px;
    }
.contact_w{
    margin-right: 15px;
    width: 132px;
    height: 18px;
}
    .contact_w img{
        width: 13px;
        height: 13px;
    }
    .contact_w p{
        font-size: 10px;
    }
    .phone_number{
        margin-right: 15px;
    }
    .phone_number h4{
        font-size: 16px;
    }
    .nav_btn p{
        display: none;
    }
    .nav_btn{
        width: 34px;
        height: 34px;
    }
    .lines_item{
        height: 2px;
        width: 20px;
    }
    .search_fild{
        width: 203px;
        height: 34px;

    }
    .search_btn{
        width: 34px;
        height: 32px;
    }
 .left_sale{
     width: 290px;
     height: 195px;
 }
    .car_tires img{
        width: 130px;
        height: 110px;
    }
    .title_text h5{
        font-size: 15px;
        line-height: 19px;
    }
    .title_text p{
        font-size: 10px;
        line-height: 12px;
    }
    .price_text h5{
        font-size: 20px;
        line-height: 23px;
    }
    .main_search_field{
        margin-top: 15px;
    }
    .price_text p{
        font-size: 14px;
        line-height: 16px;
    }
    .buy_btn button{
        width: 124px;
        height: 34px;
    }
    .buy_btn img{
        width: 13px;
        height: 13px;
    }
    .buy_btn p{
        font-size: 15px;
    }
    .left_sale{
        column-gap: 1px;
    }
    .sales_text{
        row-gap: 15px;
    }
    .price_text{
        flex-direction: column-reverse;
        align-items: start;
    }
    .main_sale_text{
        margin-left: 32px;
    }
    .sales{
        flex-direction: column;
    }
    .right_item{
        width: 250px;
        height: 145px;
    }
    .sale_item img{
        width: 58px;
        height: 54px;
    }
    .sale_item_text h6{
        font-size: 12px;
        line-height: 18px;
    }
    .sale_item_textp {
        font-size: 10px;
        line-height: 12px;
    }
        .price_item h6{
            font-size: 14px;
            line-height: 16px;
        }
        .price_item p{
            font-size: 12px;
            line-height: 14px;
        }
        .price_item button{
            width: 32px;
            height: 32px;
        }
        .price_item img{
            width: 11px;
            height: 11px;
        }
        .right_item span{
            margin-bottom: 5px;
            font-size: 12px;
            line-height: 14px;
        }
        .slide_item{
            width: 250px;
            height: 126px;
        }
        .slide_item_text h6{
            font-size: 16px;
            line-height: 19px;
        }
        .slide_item_text p{
            font-size: 10px;
            line-height: 14px;
        }
        .slide_item img{
            width: 74px;
            height: 97px;
            margin-left: 26px;
            margin-right: 13px;
        }
        .slide_item_text{
            margin-left: 15px;
            width: 120px;
        }
    .slide_item_text button{
        width: 74px;
        height: 24px;
        font-size: 12px;
        line-height: 14px;
    }
    .product{
        margin-left: 15px;
    }
    .navigate {
        margin-left: 15px;

    }
    .nav_btn1{
        height: 36px;
    }
    .nav_btn2{
        height: 36px;
        width: 164px;
    }
    .product_card img{
        width: 149px;
        height: 127px;
    }
    .text_reviews img{
        width: 12px;
        height: 12px;
    }
    .point_star{
        font-size: 10px;
    }
    .reviews{
        font-size: 10px;
    }
    .text_name h6{
        font-size: 12px;
    }
    .Text_price_now{
        font-size: 12px;
    }
    .text_price_before{
        font-size: 12px;
    }
    .nav_product_card button{
        width: 110px;
        height: 35px;
        padding: 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav_product_card img{
        width: 12px;
        height: 12px;
    }
    .nav_product_card p{
        font-size: 12px;
    }
    .diagrama{
        display: none;
    }
    .Text_price_full{
        font-size: 14px;
    }
    .text_price_sales{
        font-size: 12px;
    }
    .block1{
        column-gap: 9px;
    }
}



