
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Tinos', serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.head_menu nav{
    display: flex;
    column-gap: 30px;
}
.wrapper{
    margin-left: 283px;
}
.head_info{
    display: flex;
}
.head_info nav{
    display: flex;
    column-gap: 45px;
}
.nav_item a,.head_info a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
}
.about_info{
    display: flex;
}
.head_title{
    background: #0F2438;
    display: flex;
    height: 36px;
    align-items: center;
    column-gap: 310px;
}

.social_info{
    display: flex;
    align-items: center;
}
.logo{
    margin-right: 100px;
    display: flex;
    align-items: center;
}
.logo h1{
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #0F2438;
}
.logo p{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #0F2438;
}
.work_time{
    margin-right: 83px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
.work_time_text{
    display: flex;
    flex-direction: column;
}
.work_time p,h2{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #0F2438;
}
.location{
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}
.location h3{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
}
.contact_w{
    margin-right: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E1EFD0;
    width: 204px;
    height: 30px;
    border-radius: 2%;
}
.contact_w p{
    font-size: 12px;
    line-height: 14px;
}
.phone_number{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.phone_number h4{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #0F2438;
}
.phone_number p{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #0F2438;
}
.nav_btn{
    background-color: #005BB9;
    width: 164px;
    height: 53px;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    display: flex;
    column-gap: 12px;
}
.nav_btn p{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.lines{
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}
.lines_item{
    width: 20px;
    height: 3px;
    background-color: white;
    margin: 0 6px 0 6px;
}
.search_fild{
    width: 549px;
    height: 53px;
    background-color: #F4F5FA;
    display: flex;
    align-items: center;
    border-radius: 6px 0 0 6px;
}
.search_fild p{
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #C2C5DA;
    margin-left: 20px;

}
.search_btn{
    width: 101px;
    height: 53px;
    background: #005BB9;
    border-radius: 0 6px 6px 0;
    align-items: center;
    display: flex;
    justify-content: center;
}
.search_btn p{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.main_search_field{
    display: flex;
}
.total_field{
    display: flex;
}
.search_menu{
    display: flex;
}
.login_menu{
    display: flex;
    column-gap: 25px;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
}
.login_item{
    display: flex;
    height: 30px;
    column-gap: 18px;
    justify-content: center;
    align-items: center;
}
.login_item_border{
    padding-right: 25px;
    border-right: 1px solid #E1E5F8;
}
.login_item p{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #0F2438;
}
.login_item span{
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #0F2438;
    width: 70px;
}
.social{
    padding: 20px 0 20px 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}


.left_sale {
    border-radius: 20px;
    background: url(image/background.png) no-repeat center/cover;
    width: 1010px;
    height: 390px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
}
.buy_btn button{
    width: 160px;
    height: 50px;
    background: #005BB9;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 9px;
}

.buy_btn p{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.title_text h5{

    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #0A1A2C;
}
.title_text p{
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #717171;
}
.price_text h5{
    font-weight: 500;
    font-size: 37px;
    line-height: 43px;
    color: #005BB9;
}
.price_text p{
    font-size: 22px;
    line-height: 26px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}
.price_text{
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.title_text{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.sales_text{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
.sales{
    display: flex;
    column-gap: 10px;
    margin-top: 30px;
}
.right_item{
    width: 336px;
    height: 190px;
    background: #F4F5FA;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    align-items: center;
    justify-content: center;
}
.sale_item{
    display: flex;
    column-gap: 15px;
    align-items: center;
    justify-content: center;
}
.sale_item_text{
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}
.sale_item_text h6{
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    color: #0A1A2C
}
.sale_item_text p{
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #525252;
}
.price_item{
    display: flex;
    align-self: end;
    align-items: center;
    margin-right: 15px;
}
.right_item span{
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
    align-self: start;
    margin-bottom: 18px;
}
.price_item h6{
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFB800;
}
.price_item p{
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    margin-left: 6px;
}
.price_item button{
    width: 57px;
    height: 49px;
    background: #005BB9;
    border-radius: 6px;
    margin-left: 32px;
}
.right_sale{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.slide_item{
    display: flex;
    width: 431px;
    height: 184px;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
}
.slide_item img{
    margin-left: 80px;

}
.slide_item_text{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-left: 30px;
    justify-content: center;

}
.slide_item_text button{
    width: 86px;
    height: 26px;
    background: #005BB9;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: white;
}
.slide_item h6{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #0A1A2C;
}
.slide_item p{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #0A1A2C;
}
.slide{
    display: flex;
    column-gap: 30px;
    margin-top: 40px;
}
.nav_btn1{
    background: #005BB9;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    color: #FFFFFF;
    padding: 16px 32px;
    margin-right: 20px;
}
.nav_btn2{
    background: #FFFFFF;
    border-radius: 6px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #005BB9;
    padding: 16px 32px;
    margin-right: 20px;
    border: 2px solid #005BB9;
}
.navigate{
    display: flex;
    margin-top: 70px;
    margin-left: 400px;
}
.point_star{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFB800;
    margin-right: 10px;
    margin-left: 4px;
}

.reviews{
    font-size: 14px;
    line-height: 16px;
    color: #B0B0B0;
}
.text_name h6{
    font-size: 20px;
    line-height: 25px;
    color: #0A1A2C;
}
.text_price_now{
    font-size: 13px;
    line-height: 15px;
}
.text_price_before{
    font-size: 13px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #005BB9;
}
.text_reviews{
    display: flex;
    margin-bottom: 10px;
}
.text_price{
    display: flex;
    margin-top: 46px;
    margin-bottom: 20px;
    column-gap: 8px;
    align-items: center;
}
.nav_product_card button{
    background: #005BB9;
    border-radius: 6px;
    display: flex;
    column-gap: 4px;
    color: #FFFFFF;
    padding: 15px 30px;
}
.nav_product_card{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.mesh{
    height: 1px;
    background: #E1E5F8;
    margin: 20px 0;
}

.discount{
    background: #FFB800;
    border-radius: 2px;
    color: #FFFFFF;
    width: fit-content;
}
.Text_price_full{
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #FFB800;

}
.text_price_sales{
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}
.block1{
    display: flex;
    column-gap: 30px;
}
.product{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 35px;
    width: fit-content;
    margin-left: 400px;
}
.show_more_btn button{
    background: #FFFFFF;
    border: 2px solid #005BB9;
    border-radius: 6px;
    color: #005BB9;
    padding: 15px 40px;

}
.show_more_btn{
    align-self: center;
}
.news_title h6{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    border-bottom: 9px solid #F5F5F5;
    padding-bottom: 14px;

}
.title_new{
    margin: 18px 0;
}
.fresh_new{
    display: flex;
    width: 1200px;
    column-gap: 60px;
}
.day_new{
    background: #0C1A2A;
    border-radius: 4px;
    width: fit-content;
    color: #FFFFFF;
    padding: 2px 19px;
}
.mounth_new{
    display: flex;
    flex-direction: column;
    width: 25%;
}
.page_end{
    background: #0C1A2A;
    padding: 35px 0;
    margin-top: 120px;
    display: flex;
    column-gap: 130px;
}
.fresh_new .mounth_new::before{
    content: "";
    display: block;
    height: 20px;
    width: 1px;
    background: #0C1A2A;
    margin-left: 50px;
}

.end_text_stile h6{
    font-size: 18px;
    line-height: 21px;
    color: #868DAC;
}
.end_catalog{
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}
.end_info_text li{
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-bottom: 14px;

}
.left_end{
    display: flex;
    column-gap: 90px;
}
.style_text{
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.end_pay_text{
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}
.end_info_pay p{
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-bottom: 8px;
}
.end_info{
    display: flex;
    flex-direction: column;
    row-gap: 45px;
}
.contact_back{
    display: flex;
    column-gap: 100px;
}
.text_form p{
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.contact_phone h6{
    margin-bottom: 8px;
}
.text_form{
    display: flex;
    column-gap: 23px;
}
.enter_mail{
    width: 290px;
    font-size: 16px;
    line-height: 19px;
    color: #ADBDD1;
    border: 1px solid #203246;
    border-radius: 6px 0px 0px 6px;
    padding: 10px 0 10px 17px;
}
.subscribe_field button{
    background: #005BB9;
    border-radius: 0px 6px 6px 0px;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 40px;
}
.subscribe_field{
    display: flex;
}
.social_icon{
    display: flex;
    column-gap: 55px;
    justify-content: end;
    align-items: center;
}
.right_end{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}